<%= content_for(:title, "Question") %>

<div class="main-page container">
  <div class="row">

    <h1><%= @question.question %></h1>

    <ul>
      <%# @question.answers.each do | answer | %>
        <li><%#= answer.answer %></li>
      <%# end %>
    </ul>

  </div>
</div>
