<%= content_for(:title, "Question") %>

<div class="main-page container">
  <div class="row">

    <h1><%= @question.question %></h1>

    <div class="answers">
      <ul>
        <!-- question.answers.each do |answer| -->
        <!-- render 'answer', answer: answer -->
        <%= render @question.answers %>
      </ul>
    </div>

    <%= link_to "New Answer", new_answer_path(:question_id => @question.id), id: "new_link", remote: true %>
  </div>
</div>
