/* ====================================== HEADER ====================================== */

.header {
  background-color: DeepSkyBlue;
  color: white;
  ul li {
    list-style: none;
  }
}

.header-links {
  padding: 15px 35px 0px 0px;
  font-size: 1.2em;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: Purple;
    text-decoration: none;
  }
  li {
    display: inline;
    margin-left: 10px;
  }
}

.purple {
  color: Purple;
}

.container-inner {
  width: 100%;

}



/* ======================================= BODY ======================================= */

.flash {
  margin-top: 60px;
  right: 0px;
  font-size: 2em;
  .green {
    list-style: none;
    color: #60b044;
  }
}

.red {
  list-style: none;
  color: Red;
}

.answer-form {
  margin-bottom: 150px;
}





/* ====================================== FOOTER ====================================== */

.footer {
  background-color: WhiteSmoke;
}
